.screen {
    background-color: black;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* .clock {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  font-size: 100px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #61dafb;
  border-radius: 10px;
  width: 600px; 
  margin: auto;
  color: black;
} */

.title {
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  padding-top: 300px;
  font-size: 70px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.frame {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  font-size: 100px;
  text-align: center;
  width: 400px;
  margin: auto;
  color: black;
  display: flex;
  justify-content: center;
}

.photo {
  width: 150px;
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
  border-color:#61dafb;
  margin: 0 auto;
  color: black;
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
  position: absolute;
  top: 210px;
  left: 130px;
}

.photo02 {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 800px;
}

.activator {
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  text-align: center;
  width: 1000px; 
  margin: auto;
  color: black;
}
